.clock {
  position: absolute;
  height: 31.25rem;
  width: 31.25rem;
  left: 50%;
  top: 50%;
  margin-left: -15.625rem;
  margin-top: -15.625rem;
  border: 0.1875rem solid black;
  border-radius: 50%;
}
.clock .pointer {
  position: absolute;
  height: 2.5rem;
  width: 0.625rem;
  background: indigo;
}
.clock .pointer.twelve {
  left: 50%;
  top: 0;
}
.clock .pointer.three {
  -webkit-transform: rotate(90deg);
  margin-top: -0.9375rem;
  right: 0.875rem;
  top: 50%;
}
.clock .pointer.six {
  -webkit-transform: rotate(180deg);
  left: 50%;
  bottom: 0;
}
.clock .pointer.nine {
  -webkit-transform: rotate(270deg);
  margin-top: -0.9375rem;
  left: 0.875rem;
  top: 50%;
}
.clock .seconds {
  position: absolute;
  height: 50%;
  width: 0.625rem;
  left: 50%;
  margin-left: -0.625rem;
  background: red;
  -webkit-animation: 60s clockwork infinite linear;
  -webkit-transform-origin: 100% 100%;
}

@-webkit-keyframes clockwork {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
